*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 260px;
    font-weight: bold;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 30px;
}

.sidebar nav li{
    list-style: none    ;
    font-size: 30px;
    padding: 30px 0;
    letter-spacing: 1px;
}

.sidebar nav li a{
    color: rgb(196, 190, 190);
}
.sidebar nav li a:hover{
    color: rgb(255, 255, 255);
}

.mains{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}

.infocontainer::before{
    content: "";
    background-image: url(/images/hm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    top: 0;
    left: 0;
}

.infocontainer{
    /* background-color: aqua; */
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

.hello{
    font-size: 65px;
}

.name{
    font-size: 45px;
    font-weight: bold;
}

.about{
    font-size: 35px;
}

.moreabout{
    font-size: 18px;
    margin-top: 15px;
}

.btn{
    padding: 15px;
    margin: 25px 0;
    border: 1px solid black;
    border-radius: 15px;
    color:white;
    background-color: black;
    font-size: 15px;
}

.btn-sm{
    font-size: 15px;
    padding: 10 8px;
    margin: 10px 0;
}

.btn:hover{
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.247);
    cursor: pointer;
}

.devpic img{
    height: 45vh;
    border-radius: 72px 0px 72px 0px;
}

.contactform::before{
    content: "";
    background-image: url(/images/cnt.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
}

.contactform{
    padding: 0 29px;
    padding-top: 34px;
    margin-left: 90px;
    font-family: ui-sans-serif;
    font-size: 24px;
}

.contactform form{
    margin: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactform h1{
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 55px;
    background-color: #00000036;
    text-align: center;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    padding: 4px 5px;
    margin-top: 5px;
    width: 24vw;
    border-radius: 8px;
}

#form-check{
    flex-direction: row;
}

#form-check-input{
    width: 25px;
    margin: 2px;
}

#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

.blogcontainer::before{
    content: "";
    background-image: url(/images/blg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;

}

.blogcontainer{
    padding: 25px;
    margin-left: 100px;
}

.blogcontainer h1{
    padding: 15px;
    /* text-decoration: underline; */
    color: #c583837e;
    font-size: 55px;
    text-shadow: 1px 1px black;
    text-align: center;
    background-color: #d3ccccad;
}

.blogitem{
    margin: 34px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.blogitem h2{
    font-family: 'Times New Roman', Times, serif;
}

.blogitem p{
    margin: 10px;
}

.intro::before{
    content: "";
    background-image: url(/images/int.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
}

.intro{
    padding: 25px;
    margin: 20px 0 0;
    margin-left: 100px;
}

.intro h1{
    padding: 20px;
    color: #bdb2b2;
    background-color: #00000069;
    text-align: center;
}

.intro p{
    padding: 15px ;
    font-family: Arial, Helvetica, sans-serif;
}

.spcontainer{
    display: flex;
}

.prcontainer{
    width: 19vw;
    /* background-color: rgb(36, 230, 52); */
    margin: 15px 0 0;
    /* border: 2px solid black; */
}

.prcontainer h3{
    margin: 3px 22px;
    font-size: 25px;;
}

.prcontainer ul li{
    padding: 27px 0px;
    margin: 20px 30px;
    font-size: 22px;
    list-style: none;
    font-weight: 900;
}

.skillcontainer{
    margin: 15px 0 0;
    padding: 4px 20px;
    width: 25vw;
    /* background-color: firebrick; */
    /* border: 2px solid black; */
}

.skillitem{
    display: flex;
    align-items: center;
    font-size: 26px;
    width: 300px;
    margin-top: 2px;
}

.prvdo{
    width: 35vw;
    margin: 15px 0px;
    /* border: 2px solid black; */
}

.prvdo video{
    padding: 0px 24px;
}

.prvdo video a{
    padding: 5px
}

/* 
.skill{
    margin: 7px 7px;
    width: 250px;
    height: 9px;
    background-color: greenyellow;
    border: 2px solid black;
} */
/* 
.f100{
    width: 300px;
    background-color: greenyellow;
}

.f75{
    width: 200px;
    background-color: lightgreen;
}

.f50{
    width: 150px;
    background-color: #f5f553;
}

.f25{
    width: 75px;
    background-color: rgb(226, 27, 27);
} */

.servicecontainer{
    margin-left: 90px;
}

.servicecontainer::before{
    content: "";
    background-image: url(/images/ser.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
    
}

.servicecontainer h1{
    text-align: center;
    color: #d9d8d8;
    font-size: 55px;
    padding: 15px;
    background-color: #00000038;
    margin: 55px;
}

.sectionarea{
    display: flex;
    margin: 75px 133px;
}

.sectionarea section{
    width: 307px;
    margin: 0 15px;
    height: 262px;
    border: 2px solid black;
    padding: 25px;
    border-radius: 1px 52px 1px 52px;
}

.sectionarea section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.sec h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #d7c7b4;
}

.sec p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff7dc;
    
}

.hamburger{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.sidebarGo{
    transform: translate(-390px, 0px);
    position: absolute;
}

.cross{
    margin-left: 198px;
}

.hamburger img{
    background-color: black;
}

@media (max-width: 1250px) {
    /* *{
    
    } */
    .devpic{
        display: none;
    }
}










